<div class="container">
        
        <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <button pButton type="button" label="Get Info" (onClick)="getData()"></button>
                        <input [(ngModel)]="walletId" type="text" pInputText placeholder="Wallet ID">         
                    </div>
                </div>
                </div>
  <div *ngIf="loading">Loading please wait....</div>
  <ng-container *ngIf="walletData">
      <span style="color: darkgoldenrod">Name: </span>{{name}}<br/>
      <span style="color: darkgoldenrod">description: </span>{{description}}<br/>
  <span style="color: darkgoldenrod">balance: </span>{{balance}}<br/>
  <span style="color: darkgoldenrod">address: </span>{{address}}<br/>
  
  <ng-container *ngIf="paymentData">
  <span style="color: darkgoldenrod">pending payment: </span>{{ pendingPayment  || 'None'}}<br/>
  <span style="color: darkgoldenrod">Estimated Revenue: </span>{{estimateBaseline}}
  <hr/>
</ng-container>

</ng-container>

<ng-container *ngIf="paymentData">
    <ng-container *ngIf="blockChainStatus">
        <span style="color: darkgoldenrod">Current Block: </span>{{ lastBlock}}
      </ng-container>
      <br/>
  <div *ngFor="let share of shareArray; let i = index">
      <span style="color: darkgoldenrod">{{blockArray[i]}}: </span> {{share}} 
  </div><br/>
  <span style="color: darkgoldenrod">Total Share: </span>{{ minerTotal + ' / ' + total}}
  <br/>
  
  <hr/>
  <span style="color: darkgoldenrod">last payment: </span>{{ lastPayment  || 'None'}}<br/>
  <hr/>
</ng-container>

