<span style="color: darkgoldenrod">Last Updated: </span>{{lastUpdated}}<br/>
<div class="container">
    <span *ngIf="loading">Loading.....</span><br/>
    
    <div style="background: white;color: black;"> Burst: ${{burstPrice}}</div><br/>
        
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <span class="ui-float-label">
                <input [(ngModel)]="walletId" id="walletId" type="text" pInputText> 
                <label for="walletId">Numeric Id</label>
            </span>
                <button pButton type="button" label="Get Info" (click)="reloadData()"></button>
            
        </div>
    </div>
    <ng-container *ngIf="walletData">
        <span style="color: darkgoldenrod">Address: </span>{{address}}
        <br/>
        <span style="color: darkgoldenrod">Name: </span>{{name}}
        <br/>
        <span style="color: darkgoldenrod">Description: </span>{{description}}
        <br/>
        <span style="color: darkgoldenrod">Balance: </span>{{currentBalance | number:'0.8-8'}} <span style="color: green;">${{walletAmountUSD | number: '0.2-2'}}</span>
        <br/>
   

        <ng-container *ngIf="paymentData">
            <span style="color: darkgoldenrod">Pending: </span>{{ pendingPayment | number:'0.8-8'}} <span style="color: green;">${{pendingUSD | number: '0.2-2'}}</span>
            <br/>
            <span style="color: darkgoldenrod">Estimated Revenue: </span>{{estimatedRevenue | number:'0.8-8'}} <span style="color: green;">${{estimatedUSD | number: '0.2-2'}}</span><br/>
            <span style="color: darkgoldenrod">Total Share: </span>{{ minerShare | number:'0.4-4'}} / {{ totalShare | number:'0.4-4'}} <span style="color: green;">%{{estimatedPercentage | number:'0.2-2'}}</span><br/>
            <hr/>
            
        <br/>
        </ng-container>
        <ng-container *ngIf="paymentData">
            <span style="color: green;">{{ currentBlock}}:</span> Mining....
            <br/>
            <p-chart type="horizontalBar" [data]="chartData"></p-chart>
            <hr/>
        </ng-container>
    </ng-container>
    Donations:<br/>
    <a href="https://explore.burst.cryptoguru.org/account/2502243242455039725" target="_blank"><img src="../../../assets/donation.png" /></a>
    </div>
    

    